Repository shogidemo/zenn-content: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, textlint, markdownlint, secretlint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

textlint:
  run: npx textlint {staged_files}

markdownlint:
  run: npx markdownlint-cli2 {staged_files}

secretlint:
  run: npx secretlint {staged_files}

fix(workflows): X自動投稿の信頼性向上
  .claude/skills/ask-codex/SKILL.md
  .github/workflows/share-scheduled-to-x.yml
  .github/workflows/share-to-x.yml
Due: prettier, secretlint

fix(articles): x_sharedをfalseに変更し、投稿対象を明示化
  articles/zenn-x-auto-post-billing-2026.md
Due: prettier, secretlint

fix(workflows): Front Matterのみから値を取得するよう修正
  .github/workflows/share-scheduled-to-x.yml
  .github/workflows/share-to-x.yml
Due: secretlint

fix(skills): コーディング関連モデルをgpt-5.2-codexに変更
  .claude/skills/ask-codex/SKILL.md
Due: prettier, secretlint

refactor(workflows): X自動投稿をNode.jsスクリプトに移行
  .github/scripts/find-articles.js
  .github/scripts/post-to-x.js
  .github/workflows/share-scheduled-to-x.yml
  .github/workflows/share-to-x.yml
  package.json
Due: prettier, secretlint

fix(articles): X再投稿のためx_sharedをfalseに変更
  articles/zenn-x-auto-post-billing-2026.md
Due: prettier, secretlint

chore: add CODEOWNERS for automatic reviewer assignment
  .github/CODEOWNERS
Due: secretlint

feat(ci): Dependabot PRの自動処理機能を追加
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: secretlint

chore: improve repository security and add license
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .github/workflows/share-scheduled-to-x.yml
  .github/workflows/share-to-x.yml
  LICENSE
  README.md
  SECURITY.md
Due: prettier, secretlint

chore: track package-lock.json for CI cache
  .gitignore
  package-lock.json
Due: prettier

fix: textlintエラーを修正
  articles/backlog-productivity-claude-code.md
  articles/chatgpt-record-meeting-tips.md
  articles/claude-code-skill-context-management.md
  articles/claude-code-tech-blog-workflow.md
  articles/zenn-x-auto-post-billing-2026.md
Due: prettier, secretlint

chore: textlint-filter-rule-commentsを追加し会話文を除外
  .textlintrc.json
  articles/chatgpt-record-meeting-tips.md
  package-lock.json
  package.json
Due: prettier, secretlint

docs: Planレビューワークフローに関するルールを追加
  .claude/rules/plan-review-workflow.md
  CLAUDE.md
Due: prettier, secretlint

feat: add Qiita auto-sync workflow
  .github/scripts/convert-to-qiita.js
  .github/scripts/post-to-qiita.js
  .github/workflows/sync-to-qiita.yml
  package.json
Due: prettier, secretlint

fix: combine convert and post steps to handle large output
  .github/workflows/sync-to-qiita.yml
Due: secretlint

chore(lint): pushイベントにmarkdownlint設定ファイルを追加
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
Due: secretlint

docs: Markdownファイル内のコードブロックのフォーマットを修正し、見出しを追加 - コードブロックの開始を明示的に指定 - Before/Afterセクションの見出しを変更 - 予約公開のポイントセクションの見出しを修正
  articles/claude-code-skill-context-management.md
  articles/claude-code-tech-blog-workflow.md
  articles/zenn-x-auto-post-billing-2026.md
Due: prettier, secretlint

fix: improve workflow robustness based on Codex review
  .github/workflows/sync-to-qiita.yml
Due: secretlint

feat: add single_slug option for testing single article
  .github/workflows/sync-to-qiita.yml
Due: secretlint

refactor: extract inline JS to find-articles-for-qiita.js
  .github/scripts/find-articles-for-qiita.js
  .github/workflows/sync-to-qiita.yml
Due: prettier, secretlint

feat: add qiita_sync field for selective Qiita posting
  .github/scripts/find-articles-for-qiita.js
  articles/backlog-productivity-claude-code.md
  articles/chatgpt-record-meeting-tips.md
  articles/claude-code-skill-context-management.md
Due: prettier, secretlint

chore: publish chatgpt-record-meeting-tips
  articles/chatgpt-record-meeting-tips.md
Due: prettier, secretlint

feat: add scheduled sync workflow for Qiita
  .github/scripts/find-articles-for-qiita.js
  .github/workflows/sync-scheduled-to-qiita.yml
Due: prettier, secretlint

ci: improve lint workflow for all PRs
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .secretlintignore
Due: secretlint

docs: add Codex CLI vs Copilot CLI benchmark article
  articles/codex-vs-copilot-cli-benchmark.md
Due: prettier, secretlint

docs: AI文章の修正パターンと執筆時のチェック項目を追加
  .claude/rules/zenn-quality-guidelines.md
Due: prettier, secretlint

feat: 記事の予約公開設定と投稿先確認ルールを追加
  .claude/rules/pre-publish-checklist.md
  articles/codex-vs-copilot-cli-benchmark.md
Due: prettier, secretlint

fix: textlintエラーを修正
  .textlintrc.json
  articles/codex-vs-copilot-cli-benchmark.md
Due: prettier, secretlint

chore: add CI fix plan document
  plans/logical-baking-panda.md
Due: prettier, secretlint

fix: textlintエラーを修正 (#17)
  .textlintrc.json
  articles/codex-vs-copilot-cli-benchmark.md
  plans/logical-baking-panda.md
Due: prettier, secretlint

docs: AIっぽさ排除のフォーマットルールを追加
  .claude/rules/anti-ai-writing-format.md
  .claude/rules/pre-publish-checklist.md
  .claude/rules/zenn-quality-guidelines.md
  CLAUDE.md
Due: prettier, secretlint

docs(articles): Claude Code利用制限のAPI料金換算記事を追加
  articles/claude-code-usage-limit-token-estimate.md
Due: prettier, secretlint

docs(articles): Claude Code利用制限記事の導入を調整
  articles/claude-code-usage-limit-token-estimate.md
Due: prettier, secretlint

docs(rules): 記事修正時の全体品質レビューskillを追加
  .claude/skills/article-edit-quality-review/SKILL.md
  .claude/skills/article-edit-quality-review/agents/openai.yaml
  AGENTS.md
  CLAUDE.md
Due: prettier, secretlint

docs(articles): Claude Code利用制限記事の導入と終盤を整理
  articles/claude-code-usage-limit-token-estimate.md
Due: prettier, secretlint

docs(rules): Codex作業時の日本語ルールを追加
  AGENTS.md
Due: prettier

docs(articles): Claude Code利用制限記事の前提説明を整理
  articles/claude-code-usage-limit-token-estimate.md
Due: prettier, secretlint

chore(textlint): v3.0.0のja-space-around-codeを規約準拠に設定
  .textlintrc.json
  articles/codex-vs-copilot-cli-benchmark.md
  articles/zenn-x-auto-post-billing-2026.md
Due: prettier, secretlint

fix: resolve textlint violations
  articles/codex-vs-copilot-cli-benchmark.md
Due: prettier, secretlint

fix(ci): declare PyYAML for workflow validation
  .github/workflows/dependabot-auto-merge.yml
Due: secretlint

Path conditions:
  prettier: any of: *.{js,json,md}
  textlint: any of: articles/**/*.md
  markdownlint: any of: articles/**/*.md
  secretlint: any of: **/*
